<div class="row">
    <div class="col-md-6">
        <h1>About Us</h1>
        <p>HealthPoint Pediatrics was opened in the fall of 2004 with a goal of bringing personalized, 
        expert pediatric care to Fayette and surrounding counties.  We base everything we do on trust and 
        mutual respect.</p>
        <p>We offer preventive care for healthy children and treatment for those who are acutely or 
        chronically ill and try to blend together both traditional and alternative views on medicine. 
        We use this integration to develop unique and individualized approaches to the diagnosis and 
        management of many medical and behavioral problems, such as chronic abdominal pain, asthma, 
        allergies, ADHD, autism, and many others.</p>
        <p>We are concerned with all aspects of your child’s health, including his or her physical, 
        mental, and emotional well-being, in every stage of development and in good health or in illness.
        We understand that health issues can be confusing, so we will work with you to answer any 
        questions you may have. And, because we believe that healthy habits start early, we will 
        offer you helpful advice, tools, and tips to ensure that your child stays well.</p>
        <p>Please browse our website for additional information, visit our kid-friendly office located 
        at 105 Greencastle Rd, Ste.A in Tyrone or call us today at 770-631-1040 to schedule an appointment.
</p>
    </div>
    <div class="col-md-6">
        <img id="about-img" class="img-responsive center-block img-rounded" src="/static/img/building.jpg" alt="Our building">
    </div>
</div>

<div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Quisque condimentum iaculis luctus. Curabitur pellentesque 
    ligula et rutrum facilisis. Etiam ac convallis mauris. Sed auctor, 
    nulla id gravida sollicitudin, dui enim maximus risus, quis molestie 
    risus nisi at elit. Nulla placerat nec leo quis maximus. Pellentesque 
    non mauris ex. Duis a ipsum tempus, laoreet lorem quis, sodales sem.</p>
</div>
