<div class="jumbotron">
  <div class="container">
      <div class="row">
        <div class="col-sx-12">          
            <img src="/static/img/title.png" class="img-responsive center-block">
            <p class="text-center"><strong>770-631-1040</strong>
            105 Greencastle Rd, Ste A
            Tyrone, GA 30290</p>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of jumbotron -->

<div id="home-content" class="container">
</div>