html, body {
    height: 100%;
}

body {
  background-color: transparent;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron img {
    width: 80%;
}

#content {
    /*padding-top: 50px;*/
    min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

#content section {
    padding-bottom: 40px;
}

footer {
    background: rgba(2, 2, 2, 0.3);
    color: #fff;
    min-height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 13px;
}

#info p {
    text-align: center;
}

.bg-home {
    background-image: url(/static/img/field-kids.jpg);
    background-color: rgba(241, 200, 120, 1);
}

.bg-location {
    background-color: #f0d79f;
    background-image: url(/static/img/location.jpg);
}

.bg-about {
    background-color: #274ab0;
    background-image: url(/static/img/about.jpg);
}

.bg-providers {
    background-color: #63B522;
    background-image: url(/static/img/providers.jpg);
}

.bg-services {
    background-color: #96D7F3;
    background-image: url(/static/img/services.jpg);
}

.bg-hours {
    background-color: #ACD43F;
    background-image: url(/static/img/hours.jpg);
}

.bg-financial {
    background-color: #EFF490;
    background-image: url(/static/img/financial.jpg);
}

.bg-contact {
    background-color: #50B3DD;
    background-image: url(/static/img/contact.jpg);
}


/******************************************************************************/
/*@media queries*/
/******************************************************************************/
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
       
    }

    /* Extra Small Devices, Phones */ 
    /*@media only screen and (min-width : 480px)*/
    /*                   and (max-width: 767px) {*/
    /*     #home-content img {*/
    /*        display: none;*/
    /*    }*/
    /*}*/

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
/*******************************************************************************/
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .jumbotron p {
            font-size: 1em;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
         .jumbotron p {
            padding-top: 20px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }